
.textColor {
  color: #a7acb1;
}
.light-textColor {
  color: #f8f9fa;
}

@media screen and (min-width: 1200px) {
  .moviedetails {
    height: 100vh !important;
  }
  .AboutUs {
    height: 102vh !important;
  }
  .Contactus {
    /* height: 102vh !important; */
    /* margin-bottom: 100px; */
    /* background-color: red !important; */
  }
}
