* {
  --body-color: #adb5bd;
  --body-bg: #212529;
  --secondary-bg: #343a40;
  --tertiary-color: rgba(173, 181, 189, 0.5);
  --tertiary-bg: #2b3035;
  --emphasis-color: #fff;
  --secondary-color: rgba(173, 181, 189, 0.75);
  --navbar-color: rgba(255, 255, 255, 0.55);
  --navbar-hover-color: rgba(255, 255, 255, 0.75);
  --navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --navbar-active-color: #fff;
  --navbar-brand-color: #fff;
  --navbar-brand-hover-color: #fff;
  --navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --emphasis-color: #fff;
  --secondary-color: rgba(173, 181, 189, 0.75);
  --secondary-bg: #343a40;
  --tertiary-color: rgba(173, 181, 189, 0.5);
  --tertiary-bg: #2b3035;
  --primary-text-emphasis: #6ea8fe;
  --secondary-text-emphasis: #a7acb1;
  --success-text-emphasis: #75b798;
  --info-text-emphasis: #6edff6;
  --warning-text-emphasis: #ffda6a;
  --danger-text-emphasis: #ea868f;
  --light-text-emphasis: #f8f9fa;
  --dark-text-emphasis: #dee2e6;
  --primary-bg-subtle: #031633;
  --secondary-bg-subtle: #161719;
  --success-bg-subtle: #051b11;
  --info-bg-subtle: #032830;
  --warning-bg-subtle: #332701;
  --danger-bg-subtle: #2c0b0e;
  --light-bg-subtle: #343a40;
  --dark-bg-subtle: #1a1d20;
  --primary-border-subtle: #084298;
  --secondary-border-subtle: #41464b;
  --success-border-subtle: #0f5132;
  --info-border-subtle: #087990;
  --warning-border-subtle: #997404;
  --danger-border-subtle: #842029;
  --light-border-subtle: #495057;
  --dark-border-subtle: #343a40;
  --heading-color: inherit;
  --link-color: #6ea8fe;
  --link-hover-color: #8bb9fe;
  --code-color: #e685b5;
  --border-color: #495057;
  --border-color-translucent: rgba(255, 255, 255, 0.15);
  --form-valid-color: #75b798;
  --form-valid-border-color: #75b798;
  --form-invalid-color: #ea868f;
}
* {
  /* background-color: var(--secondary-bg); */
  /* background-color: var(--tertiary-bg); */
  /* background-color: var(--body-bg); */
}

.textColor {
  color: #a7acb1;
}
.light-textColor {
  color: #f8f9fa;
}

@media screen and (min-width: 1200px) {
  .moviedetails {
    height: 100vh !important;
  }
  .AboutUs {
    height: 102vh !important;
  }
  .Contactus {
    height: 100vh !important;
    background-color: red !important;
  }
}
